@model IEnumerable<StoreWebUI.Models.ItemVM>

@{
    ViewData["Title"] = "Index";
}

<h5>OrderId: @ViewData["OrderId"]</h5>
<h5>Total($): @ViewData["Total"]</h5>
<h5>Status: @ViewData["Status"]</h5>
     
             





<p>
    @Html.ActionLink("Add Item", "Create", new { id = ViewBag.order.Id })
</p>
<h6 class="text-danger">Order  lines</h6>

<table class="table">
    <thead>
        <tr>

            <th >
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
